# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# MLflow
mlruns/

# Trained Models
models/*.pkl
models/*.joblib

# Monitoring
monitoring_log.csv

# Logs
*.log

# Environment Variables
.env

# Python cache
.pytest_cache/

# OS files
.DS_Store
Thumbs.db